#container {
  width: 100%;
  max-width: 1000px;
  min-height: 100vh;
  display: inline-block;
}
.headline {
  color: #303030;
}
.button {
  height: 25px;
  width: 60px;
  border: 2px silver;
  border-radius: 5px;
  background-color: navy;
  color: white;
}
.photo {
  height: 200px;
  width: 200px;
  background-color: blue;
}
body {
  text-align: center;
}
