#container {
	width: 100%;
	max-width: 1200px;
	min-height: 100vh;
	display: inline-block;
}
.headline {
	color: #303030;
}
.topBar {
	width: 100%;
	height: 75px;
}
.clickedFail {
	opacity: .2;
}
input {
	width: 50vw;
	background-color: #eee;
	max-width: 500px;
	height: 40px;
	border-radius: 10px;
}

@media (max-width: 515px) {
	.topBar {height: 150px}
}
